<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>


<style type="text/css">
.tg  {border-collapse:collapse;border-color:#C44D58;border-spacing:0;font-family:Menlo, Consolas, DejaVu Sans Mono, monospace}
.tg td{background-color:#F9CDAD;border-color:#C44D58;border-style:solid;border-width:2px;color:#002b36;
  font-size:14px;overflow:hidden;padding:0px 0px;word-break:normal;}
.tg th{background-color:#FE4365;border-color:#C44D58;border-style:solid;border-width:2px;color:#fdf6e3;
  font-size:14px;font-weight:normal;overflow:hidden;padding:0px 0px;word-break:normal;}
.tg .tg-5eoz{background-color:#323232;border-color:#009901;color:#ffffff;font-family:Menlo, Consolas, DejaVu Sans Mono, monospace !important;;
  text-align:center;vertical-align:top}
.tg .tg-jl6x{background-color:#323232;border-color:#009901;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-dtm9{background-color:#323232;border-color:#009901;color:#ffffff;font-family:Menlo, Consolas, DejaVu Sans Mono, monospace !important;;
  text-align:center;vertical-align:top}
.tg .tg-5u2j{background-color:#323232;border-color:#009901;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-iz6i{background-color:#323232;border-color:#ffffff;color:#ffffff;font-family:Menlo, Consolas, DejaVu Sans Mono, monospace !important;;
  text-align:left;vertical-align:top}
.tg .tg-eqie{background-color:#323232;border-color:#ffffff;color:#ffffff;text-align:left;vertical-align:top;width:30px;height:20px;}
.tg .tg-ki32{background-color:#323232;border-color:#ffffff;color:#ffffff;font-family:Menlo, Consolas, DejaVu Sans Mono, monospace !important;;
  text-align:left;vertical-align:top}
.tg .tg-jf9u{background-color:#323232;border-color:#ffffff;color:#ffffff;font-family:Menlo, Consolas, DejaVu Sans Mono, monospace !important;;
  text-align:left;vertical-align:middle}
div{padding:1px; background-color:#323232; color:#ffffff; font-family:Menlo, Consolas, DejaVu Sans Mono, monospace !important;  width:80%; }
.top{width:136px; height:45px;}
.time{width:136px; height:15px;}
.saw{width:274px;padding:1px;}

body{background-color:#323232;}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-dtm9" colspan="2">The Weekly Schedule(5/52)</th>
    <th class="tg-jl6x">Monday</th>
    <th class="tg-jl6x">Tuesday</th>
    <th class="tg-jl6x">Wendesday</th>
    <th class="tg-jl6x">Thursday</th>
    <th class="tg-jl6x">Friday</th>
    <th class="tg-jl6x">Saturday</th>
    <th class="tg-jl6x">Sunday</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-jl6x">Roles</td>
    <td class="tg-jl6x">Goals</td>
    <td class="tg-5u2j" colspan="7">Todays Priorites</td>
  </tr>
  <tr>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
  </tr>
  <tr>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
  </tr>
  <tr>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
  </tr>
  <tr>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
  </tr>
  <tr>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
  </tr>
  <!-- <tr>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
  </tr> -->
  <!-- <tr>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
    <td class="tg-eqie"> <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div> </td>
  </tr> -->
  <tr>
    <td class="tg-5eoz" colspan="2">Sharpen the Saw</td>
    <td class="tg-5eoz" colspan="7">Appointments</td>
  </tr>
  <tr>
    <td class="tg-dtm9" colspan="2" rowspan="3">Physical <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='saw save'></div></td>
    <td class="tg-ki32">7  <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">7  <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">7  <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">7  <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">7  <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">7  <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-jf9u">7  <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-ki32">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-ki32">9 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">9 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">9 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">9 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">9 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">9 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">9 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-dtm9" colspan="2" rowspan="3">Mindfulness <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='saw save'></div></td>
    <td class="tg-ki32">10 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">10 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">10 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">10 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">10 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">10 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-ki32">10 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-iz6i">11 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">11 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">11 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">11 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">11 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">11 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">11 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-iz6i">12 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">12 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">12 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">12 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">12 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">12 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">12 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-dtm9" colspan="2" rowspan="3">Mental <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; " oninput=getAllText() class='saw save'></div></td>
    <td class="tg-iz6i">1 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">1 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">1 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">1 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">1 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">1 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">1 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-iz6i">2 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">2 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">2 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">2 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">2 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">2 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">2 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-iz6i">3 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">3 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">3 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">3 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">3 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">3 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">3 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-dtm9" colspan="2" rowspan="3">Social <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='saw save'></div></td>
    <td class="tg-iz6i">4 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">4 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">4 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">4 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">4 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">4 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">4 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-iz6i">5 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">5 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">5 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">5 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">5 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">5 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">5 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-iz6i">6 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">6 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">6 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">6 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">6 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">6 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">6 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-dtm9" colspan="2" rowspan="3">Notes <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='saw save'></div></td>
    <td class="tg-iz6i">7 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">7 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">7 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">7 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">7 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">7 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">7 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-iz6i">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">8 <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
  <tr>
    <td class="tg-iz6i">Evening <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">Evening <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">Evening <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">Evening <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">Evening <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">Evening <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
    <td class="tg-iz6i">Evening <div contenteditable="true" style="border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='time save'></div> </td>
  </tr>
</tbody>
</table>
<br>

<div id="some-id" contenteditable="true" style="font-size:18px; width:80%; height:100%; display:block; margin-left:auto; margin-right:auto; border: none; background-color:#323232;color:#ffffff; outline: none;" oninput=getAllText() class='save top'></div>
<br>
<!-- <textarea style="font-size:17px; border: none; background-color:#323232;color:#ffffff; width:80%; height:100%; display:block; margin-left:auto; margin-right:auto; outline: none;" oninput=getAllText() class='save top'; ></textarea> -->

</html>

<script>


// Select the node that will be observed for mutations
// const targetNode = document.getElementById('some-id');
// console.log(targetNode)
// // Options for the observer (which mutations to observe)
// const config = { attributes: true, childList: true, subtree: true };
//
// // Callback function to execute when mutations are observed
// const callback = function(mutationsList, observer) {
//     // Use traditional 'for loops' for IE 11
//     for(const mutation of mutationsList) {
//         if (mutation.type === 'childList') {
//             console.log('A child node has been added or removed.');
//         }
//         else if (mutation.type === 'attributes') {
//             console.log('The ' + mutation.attributeName + ' attribute was modified.');
//         }
//
//     }
// };
//
// // Create an observer instance linked to the callback function
// const observer = new MutationObserver(callback);
//
// // Start observing the target node for configured mutations
// observer.observe(targetNode, config);


// Later, you can stop observing
// observer.disconnect();





// function removeCookies() {
//             var res = document.cookie;
//             var multiple = res.split(";");
//             for(var i = 0; i < multiple.length; i++) {
//                var key = multiple[i].split("=");
//                document.cookie = key[0]+" =; expires = Thu, 01 Jan 1970 00:00:00 UTC";
//             }
//          }
//
// removeCookies()


function setAllText() {
  var text_areas = document.querySelectorAll('.save');
  var count = 0;
  text_areas.forEach((t) => {
    t.innerHTML = document.cookie.split('; ').find(row => row.startsWith(String(count)))
  .split('=')[1];
    count += 1;
  });

}


document.addEventListener("DOMContentLoaded", function() {
  setAllText();
  document.getElementById('some-id').addEventListener('paste', handlePaste);
});


function getAllText() {
  var count = 0;
  var text_areas = document.querySelectorAll('.save');
  var divs = document.querySelectorAll('.di');
  //console.log(divs[0].innerHTML)

  text_areas.forEach((t) => {
    document.cookie = String(count)+'='+String(t.innerHTML);
    count += 1;
  });
  //document.cookie = 'di='+divs[0].innerHTML

}

// $('div[contenteditable]').keydown(function(e) {
//     // trap the return key being pressed
//     if (e.keyCode === 13) {
//         // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
//         document.execCommand('insertHTML', false, '<br/>');
//         // prevent the default behaviour of return key pressed
//         return false;
//     }
// });


function handlePaste (e) {
    var clipboardData, pastedData;

    // Stop data actually being pasted into div
    e.stopPropagation();
    e.preventDefault();

    // Get pasted data via clipboard API
    clipboardData = e.clipboardData || window.clipboardData;
    pastedData = clipboardData.getData('Text');

    // Do whatever with pasteddata
    console.log(pastedData);
}



</script>
