{{ calendar }}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

<div class="public-DraftEditor-content" contenteditable="true" role="textbox" spellcheck="true" style="outline: none; white-space: pre-wrap; overflow-wrap: break-word;">
<div><h1><span data-text="true">Heyo</span></h1></div>
<div><h2><span data-text="true">Dear Future George</span></h2></div>
</div>

<p id="values"></p>

<script>

const input = document.getElementById('hi');
const log = document.getElementById('values');

input.addEventListener('input', updateValue);

function updateValue(e) {
  log.textContent = e.target.value;
}

function getCookie() {
           document.cookie = "username=george;";
           document.cookie = "name=geo;";
           document.write ("All Cookies : " + document.cookie + "?");
         }
</script>


<form name="myform" action="">
         <p> click the following button and see the result:</p>
         <input type="button" value="Get Cookie" onclick="getCookie()"/>
      </form>


<style type="text/css">
.tg  {border-collapse:collapse;border-color:#C44D58;border-spacing:0;}
.tg td{background-color:#F9CDAD;border-color:#C44D58;border-style:solid;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:0px 20px;word-break:normal;}
.tg th{background-color:#FE4365;border-color:#C44D58;border-style:solid;border-width:1px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:0px 20px;word-break:normal;}
.tg .tg-5eoz{background-color:#323232;border-color:#009901;color:#ffffff;font-family:Verdana, Geneva, sans-serif !important;;
  text-align:center;vertical-align:top}
.tg .tg-jl6x{background-color:#323232;border-color:#009901;color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-dtm9{background-color:#323232;border-color:#009901;color:#ffffff;font-family:Verdana, Geneva, sans-serif !important;;
  text-align:left;vertical-align:top}
.tg .tg-5u2j{background-color:#323232;border-color:#009901;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-iz6i{background-color:#323232;border-color:inherit;color:#ffffff;font-family:Verdana, Geneva, sans-serif !important;;
  text-align:left;vertical-align:top}
.tg .tg-eqie{background-color:#323232;border-color:#ffffff;color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-ki32{background-color:#323232;border-color:#ffffff;color:#ffffff;font-family:Verdana, Geneva, sans-serif !important;;
  text-align:left;vertical-align:top}
.tg .tg-jf9u{background-color:#323232;border-color:#ffffff;color:#ffffff;font-family:Verdana, Geneva, sans-serif !important;;
  text-align:left;vertical-align:middle}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-dtm9" colspan="2">The Weekly Schedule(5/52)</th>
    <th class="tg-jl6x">Sunday</th>
    <th class="tg-jl6x">Monday</th>
    <th class="tg-jl6x">Tuesday</th>
    <th class="tg-jl6x">Wendesday</th>
    <th class="tg-jl6x">Thursday</th>
    <th class="tg-jl6x">Friday</th>
    <th class="tg-jl6x">Saturday</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-jl6x">Roles</td>
    <td class="tg-jl6x">Goals</td>
    <td class="tg-5u2j" colspan="7">Todays Priorites</td>
  </tr>
  <tr>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
  </tr>
  <tr>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
  </tr>
  <tr>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
  </tr>
  <tr>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
  </tr>
  <tr>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
  </tr>
  <tr>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
  </tr>
  <tr>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
    <td class="tg-eqie"></td>
  </tr>
  <tr>
    <td class="tg-5eoz" colspan="2">Sharpen the Saw</td>
    <td class="tg-5eoz" colspan="7">Appointments</td>
  </tr>
  <tr>
    <td class="tg-dtm9" colspan="2" rowspan="3">Physical</td>
    <td class="tg-ki32">7</td>
    <td class="tg-ki32">7</td>
    <td class="tg-ki32">7</td>
    <td class="tg-ki32">7</td>
    <td class="tg-ki32">7</td>
    <td class="tg-ki32">7</td>
    <td class="tg-jf9u">7</td>
  </tr>
  <tr>
    <td class="tg-ki32">8</td>
    <td class="tg-ki32">8</td>
    <td class="tg-ki32">8</td>
    <td class="tg-ki32">8</td>
    <td class="tg-ki32">8</td>
    <td class="tg-ki32">8</td>
    <td class="tg-ki32">8</td>
  </tr>
  <tr>
    <td class="tg-ki32">9</td>
    <td class="tg-ki32">9</td>
    <td class="tg-ki32">9</td>
    <td class="tg-ki32">9</td>
    <td class="tg-ki32">9</td>
    <td class="tg-ki32">9</td>
    <td class="tg-ki32">9</td>
  </tr>
  <tr>
    <td class="tg-dtm9" colspan="2" rowspan="3">Mindfulness</td>
    <td class="tg-ki32">10</td>
    <td class="tg-ki32">10</td>
    <td class="tg-ki32">10</td>
    <td class="tg-ki32">10</td>
    <td class="tg-ki32">10</td>
    <td class="tg-ki32">10</td>
    <td class="tg-ki32">10</td>
  </tr>
  <tr>
    <td class="tg-iz6i">11</td>
    <td class="tg-iz6i">11</td>
    <td class="tg-iz6i">11</td>
    <td class="tg-iz6i">11</td>
    <td class="tg-iz6i">11</td>
    <td class="tg-iz6i">11</td>
    <td class="tg-iz6i">11</td>
  </tr>
  <tr>
    <td class="tg-iz6i">12</td>
    <td class="tg-iz6i">12</td>
    <td class="tg-iz6i">12</td>
    <td class="tg-iz6i">12</td>
    <td class="tg-iz6i">12</td>
    <td class="tg-iz6i">12</td>
    <td class="tg-iz6i">12</td>
  </tr>
  <tr>
    <td class="tg-dtm9" colspan="2" rowspan="3">Mental</td>
    <td class="tg-iz6i">1</td>
    <td class="tg-iz6i">1</td>
    <td class="tg-iz6i">1</td>
    <td class="tg-iz6i">1</td>
    <td class="tg-iz6i">1</td>
    <td class="tg-iz6i">1</td>
    <td class="tg-iz6i">1</td>
  </tr>
  <tr>
    <td class="tg-iz6i">2</td>
    <td class="tg-iz6i">2</td>
    <td class="tg-iz6i">2</td>
    <td class="tg-iz6i">2</td>
    <td class="tg-iz6i">2</td>
    <td class="tg-iz6i">2</td>
    <td class="tg-iz6i">2</td>
  </tr>
  <tr>
    <td class="tg-iz6i">3</td>
    <td class="tg-iz6i">3</td>
    <td class="tg-iz6i">3</td>
    <td class="tg-iz6i">3</td>
    <td class="tg-iz6i">3</td>
    <td class="tg-iz6i">3</td>
    <td class="tg-iz6i">3</td>
  </tr>
  <tr>
    <td class="tg-dtm9" colspan="2" rowspan="3">Social</td>
    <td class="tg-iz6i">4</td>
    <td class="tg-iz6i">4</td>
    <td class="tg-iz6i">4</td>
    <td class="tg-iz6i">4</td>
    <td class="tg-iz6i">4</td>
    <td class="tg-iz6i">4</td>
    <td class="tg-iz6i">4</td>
  </tr>
  <tr>
    <td class="tg-iz6i">5</td>
    <td class="tg-iz6i">5</td>
    <td class="tg-iz6i">5</td>
    <td class="tg-iz6i">5</td>
    <td class="tg-iz6i">5</td>
    <td class="tg-iz6i">5</td>
    <td class="tg-iz6i">5</td>
  </tr>
  <tr>
    <td class="tg-iz6i">6</td>
    <td class="tg-iz6i">6</td>
    <td class="tg-iz6i">6</td>
    <td class="tg-iz6i">6</td>
    <td class="tg-iz6i">6</td>
    <td class="tg-iz6i">6</td>
    <td class="tg-iz6i">6</td>
  </tr>
  <tr>
    <td class="tg-dtm9" colspan="2" rowspan="3">Notes</td>
    <td class="tg-iz6i">7</td>
    <td class="tg-iz6i">7</td>
    <td class="tg-iz6i">7</td>
    <td class="tg-iz6i">7</td>
    <td class="tg-iz6i">7</td>
    <td class="tg-iz6i">7</td>
    <td class="tg-iz6i">7</td>
  </tr>
  <tr>
    <td class="tg-iz6i">8</td>
    <td class="tg-iz6i">8</td>
    <td class="tg-iz6i">8</td>
    <td class="tg-iz6i">8</td>
    <td class="tg-iz6i">8</td>
    <td class="tg-iz6i">8</td>
    <td class="tg-iz6i">8</td>
  </tr>
  <tr>
    <td class="tg-iz6i">Evening</td>
    <td class="tg-iz6i">Evening</td>
    <td class="tg-iz6i">Evening</td>
    <td class="tg-iz6i">Evening</td>
    <td class="tg-iz6i">Evening</td>
    <td class="tg-iz6i">Evening</td>
    <td class="tg-iz6i">Evening</td>
  </tr>
</tbody>
</table>
